.contact_section h1{
    font-weight: 700;
    font-size: 48px;
    max-width: 315px;
}

.contact_section p{
    font-weight: 600;
    font-size: 16px;
    max-width: 975px;
}

.contact_section{
    margin:0px  auto;
    max-width: 975px;
}